# key-audio-latency-samples-at-48k

In [6]:
#packages
import pandas as pd
import numpy as np

#Load files
latencyPerAgent = []
for i in range(1, 9):
    latencyPerAgent.append(pd.read_csv('./FinalDatasets/key-audio-latency-samples-at-48k/key-audio-latency-'+ str(i) +'.csv'))

In [114]:
#Arrange per measurement group
from scipy.stats import levene
from scipy.stats import f_oneway
from scipy.stats import kruskal
from scipy.stats import ttest_ind


def extractGroup(name):    
    headers = []
    for i in range(8):
        headers.append(name + str(i+1))
    data = []
    for i in range(8):
        latencyPerAgent[i][name].name =str(i+1)
        data.append(latencyPerAgent[i][name])   
    return pd.concat(data, axis = 1)

def descriptive_stats(dataframe, div = 1.0, roundDec = 3):
    stats = (dataframe.describe(include='all').transpose().filter (['min', '50%','mean', 'max', 'std']).set_axis(['Min.', 'Median', 'Mean', 'Max.', 'Std. Dev.'], axis = 1) / div).round(roundDec)
    print(stats.to_latex())

In [121]:
# FOR Key Direct

key_direct_all = extractGroup('key-direct')
key_direct_all.to_csv('keyDirect.csv')
descriptive_stats(key_direct_all, 48.0)

d1, d2, d3, d4, d5, d6, d7, d8 = key_direct_all.transpose().values.tolist()
levene_result = levene(d1, d2, d3, d4, d5, d6, d7, d8)
print("levene:\n" + str(levene_result))
anova_result = f_oneway(d1, d2, d3, d4, d5, d6, d7, d8)
print("Anova:\n" + str(anova_result))
#direct_listener_all = extractGroup('direct-listener')
#artifacts_all = extractGroup('artifacts')

\begin{tabular}{lrrrrr}
\toprule
{} &    Min. &  Median &    Mean &    Max. &  Std. Dev. \\
\midrule
1 &  34.083 &  40.562 &  42.067 &  53.562 &      6.004 \\
2 &  27.188 &  38.427 &  38.802 &  50.667 &      6.445 \\
3 &  25.938 &  36.198 &  37.162 &  50.146 &      6.783 \\
4 &  23.312 &  39.625 &  38.760 &  53.000 &      8.036 \\
5 &  26.438 &  37.333 &  38.073 &  50.417 &      6.812 \\
6 &  26.625 &  38.938 &  38.724 &  50.792 &      6.731 \\
7 &  22.312 &  35.833 &  36.922 &  51.792 &      7.829 \\
8 &  26.458 &  39.073 &  39.810 &  52.292 &      7.049 \\
\bottomrule
\end{tabular}

levene:
LeveneResult(statistic=0.6709813453105908, pvalue=0.6965409403535181)
Anova:
F_onewayResult(statistic=1.6172795118700132, pvalue=0.1313043307447195)

In [129]:
# FOR Direct - Listener

direct_listener_all = extractGroup('direct-listener').to_numpy().flatten()
descriptive_stats(pd.DataFrame(direct_listener_all), 48.0)

\begin{tabular}{lrrrrr}
\toprule
{} &   Min. &  Median &   Mean &  Max. &  Std. Dev. \\
\midrule
0 &  5.625 &   5.667 &  5.677 &  5.75 &      0.022 \\
\bottomrule
\end{tabular}

In [135]:
# FOR artifacts

artifacts_all = extractGroup('artifacts')
print(np.mean(artifacts_all))
print(np.max(artifacts_all))

1    0.000000
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.366667
8    0.900000
dtype: float64
1    0
2    0
3    0
4    0
5    0
6    0
7    3
8    4
dtype: int64

In [132]:
artifacts_all

    1  2  3  4  5  6  7  8
0   0  0  0  0  0  0  0  1
1   0  0  0  0  0  0  1  2
2   0  0  0  0  0  0  0  1
3   0  0  0  0  0  0  0  3
4   0  0  0  0  0  0  0  2
5   0  0  0  0  0  0  1  0
6   0  0  0  0  0  0  2  0
7   0  0  0  0  0  0  1  0
8   0  0  0  0  0  0  3  1
9   0  0  0  0  0  0  0  0
10  0  0  0  0  0  0  0  1
11  0  0  0  0  0  0  0  1
12  0  0  0  0  0  0  0  1
13  0  0  0  0  0  0  0  2
14  0  0  0  0  0  0  0  0
15  0  0  0  0  0  0  0  0
16  0  0  0  0  0  0  0  4
17  0  0  0  0  0  0  1  0
18  0  0  0  0  0  0  0  1
19  0  0  0  0  0  0  0  0
20  0  0  0  0  0  0  0  1
21  0  0  0  0  0  0  0  0
22  0  0  0  0  0  0  0  0
23  0  0  0  0  0  0  0  1
24  0  0  0  0  0  0  0  2
25  0  0  0  0  0  0  2  0
26  0  0  0  0  0  0  0  1
27  0  0  0  0  0  0  0  0
28  0  0  0  0  0  0  0  1
29  0  0  0  0  0  0  0  1